body {
    text-align: center;
}

h4 {
	text-shadow: 1px 3px 5px #FF0000;
	text-transform: uppercase;
}

.blink {
	animation: blink 1s infinite;
	color: rgb (0, 137, 226);
	font-size: 24px;
}

@keyframes blink {
	0% { opacity: 1; }
	75% { opacity: 1; }
	76% { opacity: 0; }
	100% { opacity: 0; }
}
